@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", serif;
  background-color: #fafafa;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0 !important;
}

/* 🔹 Umumiy container */
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}
